@font-face {
    font-family: RobotoThin;
    src: url(../fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
  font-family: Berkshire Swash;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Berkshire_Swash/BerkshireSwash-Regular.ttf);
}

*{
	margin: 0px;
	padding: 0px;
	font-family: RobotoThin;
}

html,body{
	height: 100%;
}
header,main,footer{
	display: block;
}
header{
	z-index:1;
	position: fixed;
	height: 50px;
	width: 100%;
	background-color: #444444;
}
ul{
	list-style: none;
	padding: 0px;
}
span{
	padding: 0px;
	margin: 0px;
}

header li{
	float: left;
	height: 50px;
}
header ul:after{
	clear: both;
}
header #logo{
	width: 50px;
	height: 50px;
	background-color: #c3bb38;
	color: #ffffff;
	font-family: 'Berkshire Swash', cursive;
	text-align: center;
	font-size: 30px;
	line-height: 50px;
}
header #connected_user{
	line-height: 50px;
	width: 300px;
	overflow: hidden;
}
header #connected_user:after{
	clear: both;
}
header #connected_user .user_img{
	width: 40px;
	margin-top: 5px;
	margin-left: 25px;
	height: 40px;
	float: left;
	background-size: cover;
	border-radius: 20px;
}
header #connected_user .username{
	line-height: 50px;
	height: 50px;
	float: left;
	margin-left: 15px;
	color: #c0c0c0;
	font-size: 12px;
	font-family: Helvetica;
}
.username span{
	font-size: 7px;
	padding-left: 4px; 
}
header #toolbox{
	width: calc(100% - 500px);
	overflow: hidden;
}
header #toolbox ul{
	overflow: hidden;
	color: #ffffff;
	background-color: #606060;
	border: 1px solid #000000;
	border-radius: 3px;
	height: 25px;
	min-width: 10px;
	display: inline-block;
	margin-top: 12px;
	padding-right:  7px;
}
header #toolbox ul li{
	width: 20px;
	height: 20px;
	background-size: 20px;
	margin-top: 2px;
	margin-left: 7px;
	background-repeat: no-repeat;
}

/* Nav */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2147483647;
    top: 50px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#black_screen{
	display: none;
	top: 0px;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 2147483647;
	background-color: rgba(255,255,255,0.95);
}
#black_screen > section{
	display: none;
	border-radius: 5px;
	position: relative;
	width: 500px;
	height:calc(100vh - 115px);
	background-color: #ffffff;
	background-size: 100px;
	top: calc(50% - 250px);
	left: calc(50% - 250px);
	padding: 20px;
	overflow: auto;
	box-shadow: 0px 0px 10px #888888;
}
#black_screen section #close_white_window{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	width:20px;
	height: 20px;
	z-index: 2;
}
 #black_screen > section > #white_window_title{
 	position: relative;
	font-family: Helvetica;
	z-index: 1;
 }
 #black_screen > section  .white_window_component{
 	position: relative;
	border: 1px solid #c0c0c0;
	border-radius: 3px;
	height: 20px;
	width: 100%;
	font-family: Helvetica;
	display: block;
	margin: 5px;
 }
#black_screen > section  section.list{
	top:initial;
	left:initial;
 	position: relative;
	border: 1px dotted #c0c0c0;
	min-height: 100px;
	overflow: auto;
}
#black_screen > section  section.list_full{
	height: initial;
    width: 100%;
    overflow: initial;
}
ul{
	list-style: none;
}
.list li{
	height: 40px;
}
.list li:after{
	content: "";
	display: table;
	clear: both;
}
.list li:not(:last-child){
	border-bottom: 1px dotted #c0c0c0;
}
.list .listitem_name{
	width: 33%;
	float: left;
}
.list .listitem_name:after{
	content: "";
	display: table;
	clear: both;
}

.list .listitem_name_text{
	text-align: center;
	float: left;
	margin-left: 5px;
	font-family: Helvetica;
	transform: translateY(50%);
}
.list .listitem_name_pic{
	height: 30px;
	width: 30px;
	background-size: 30px;
	border-radius: 15px;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}
.list .listitem_description{
	float: left;
	width: 33%;
	text-align: center;
	font-family: Helvetica;
	transform: translateY(50%);
}
.list .listitem_icons{
	float: left;
	width: 33%;
	text-align: center;
	transform: translateY(50%);
}

/* Tool Box */
#toolbox li#toolbox_btn_zoomin{
	background-image: url(../images/studio_icon_zoomin.png);
}
#toolbox li#toolbox_btn_zoomout{
	background-image: url(../images/studio_icon_zoomout.png);
}
#toolbox li#toolbox_btn_cursor{
	background-position: 0px -2px;
	background-image: url(../images/studio_icon_cursor.png);
}
#toolbox li#toolbox_btn_cutter{
	background-position: 0px 2px;
	background-size: 7px;
	background-image: url(../images/studio_icon_cutter.png);
}
#toolbox li#toolbox_btn_undo{
	background-position: 0px 4px;
	background-image: url(../images/studio_icon_undo.png);
	opacity: 0.5;
}
#toolbox li#toolbox_btn_redo{
	background-position: 0px 4px;
	background-image: url(../images/studio_icon_redo.png);
	opacity: 0.5;
}
#toolbox li#toolbox_btn_fadeout{
    background-position: 0px 4px;
    background-size: 25px;
	background-image: url(../images/studio_icon_fadeout.png);
}
#toolbox li#toolbox_btn_fadein{
    background-position: -5px 4px;
    background-size: 25px;
	background-image: url(../images/studio_icon_fadein.png);
}
#toolbox li#toolbox_btn_cut{
    background-position: 0px 5px;
    background-size: 13px;
	background-image: url(../images/studio_icon_cut.png);
}
#toolbox li#toolbox_btn_copy{
    background-position: 0px 4px;
    background-size: 13px;
	background-image: url(../images/studio_icon_copy.png);
}
#toolbox li#toolbox_btn_paste{
    background-position: 0px 3px;
    background-size: 13px;
	background-image: url(../images/studio_icon_paste.png);
}
#toolbox li#toolbox_btn_delete{
    background-position: 0px 3px;
    background-size: 13px;
	background-image: url(../images/studio_icon_delete.png);
}
#toolbox li#toolbox_btn_export{
    background-position: 0px 3px;
    background-size: 15px;
	background-image: url(../images/studio_icon_disk.svg);
}
/*#toolbox li#toolbox_btn_wav{
    background-position: 0px 3px;
    background-size: 13px;
	background-image: url(../images/studio_icon_wav.svg);
}*/
.cutCursor{
	cursor: url(../images/studio_icon_cutter_32_6.png), auto;   
}
header #searchbox{
	width: 100px;
	background-color: #000000;
	float: right;
}
main{
	z-index:0;
	top: 50px;
	position: relative;
	height: calc(100% - 100px);
	width:100%;
	background-color: #232323;
}
main #channels_title{
	height: 24px;
	top: 0px;
    left: 0px;
    position: absolute;
	z-index: 2147483647;
}
main #channels_title:after{
	clear: both;
}
main .channel_list_buttons{
	color: #ffffff;
	left: 0px;
	position: absolute;
	height: 24px;
	width: 160px;
	background-color: #606060;
}
main .channel_list_buttons ul{
	right: 0px;
	top:0px;
	position: absolute;
	clear: both;
}
main .channel_list_buttons li{
	float: left;
	width: 15px;
	height: 15px;
	background-repeat: no-repeat;
	margin: 5px 2px 2px;
	opacity: 1;
}
main .channel_list_buttons #open_nav{
	position: absolute;
	float: initial;
	top:2px;
	left: 3px;
	font-size: 14px;
}
#btn_channel_new{
    background-size: 10px;
	background-image: url(../images/studio_icon_new_mini.png);
}
#btn_channel_delete{
    background-size: 10px;
	background-image: url(../images/studio_icon_delete_mini.png);
}
#btn_channel_eye{
	width: 20px;
	background-position: 0px 2px;
    background-size: 15px;
	background-image: url(../images/studio_icon_eye.png);
}

main .channels_grid_title{
	margin-left: 160px;
	float: left;
	height: 24px;
    width: calc(100% - 160px);
    background-color: #ffffff;
}
main .channels_grid_title:after{
	clear: both;
}
main .channels_grid_title div{
	height: 100%;
	color: #606060;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 7px;
	line-height: 24px;
    text-align: center;
	background-color: #f7f6f6;
	float: left;
}
main .channels_grid_title div.time-box-border{
	width: 1px;
	background-color: #ebebeb;
}
div.time-box{
	background-color: #ffffff;
}
div.time-box-border{
	width: 1px;
	background-color: #ebebeb;
}
main #channels_list{
	height: calc(100% - 24px);
	margin-top: 24px;
}
main #channels_list:after{
	clear: both;
}
main #channels_list > div{
	height: 100px;
	position: relative;
	border-bottom:1px solid #ebebeb ;
}
main .channel_list_row{
	position: absolute;
	left: 0px;
	z-index: 2147483647;
	height: 100%;
	width: 160px;
	background-color: #232323;
	clear: both;
}
main .channel_list_row_info{
	float: left;
	height: 100%;
	color: #ffffff;
	font-family: Helvetica, sans-serif;
	font-weight: 200;
	font-size: 15px;
	width: 130px;
	padding: 5px;
}
main .channel_list_row_info .channel_info > input{
	font-size: 15px;
	color: #ffffff;
	background-color: #000000;
	border: 0px;
}
main .channel_list_row_info .channel_info{
	font-family: Helvetica, sans-serif;
	font-weight: 200;
	font-size: 15px;
	margin-top: 5px;
}
main .channel_list_row_info .channel_details{
	font-family: Helvetica, sans-serif;
	font-weight: 200;
	font-size: 12px;
	margin-top: 3px;
}
main .channel_list_row_info .mini_player{
	height: 20px;
}
main .channel_list_row_info .player-icon {
	width:20px;
	height: 20px;
	float: left;
}
main .channel_list_row_info .channel_stop , main .channel_list_row_info .channel_pause{
	display: none;
}
main .channel_list_row_info .player-fill {
	fill: #e2ee79;
	background-size: contain;
	background-repeat: no-repeat;
}
main .channel_list_row_info  .volume_placeholder{
	float: left;
	margin-top: 8px;
	margin-left: 8px;
}
main .channel_list_row_btns{
	float: left;
	height: 100%;
	width: 15px;
	margin-right:5px;
}
main .channel_list_row_btns li{
	width:100%;
	height: 20px;
	margin-top: 5px;
	float: left;
}
.channel_list_row_btns .checkbox input{
	display: none;
}
main .channel_list_row_btns .btn_mic{
	background-image: url(../images/studio_microphone.svg);
	background-size: contain;
	background-repeat: no-repeat;
}
main .channel_list_row_btns .btn_mic_recording{
	background-image: url(../images/studio_microphone_recording.svg);
	background-size: contain;
	background-repeat: no-repeat;
}
main .channel_list_row_btns .btn_eye{
	background-image: url(../images/studio_icon_eye.png);
	background-size: contain;
	background-repeat: no-repeat;
}
main .channel_list_row_btns .checkbox{
	position: relative;
}
main .channel_list_row_btns .checkbox input{
	position: absolute;
	background-color: #000000;
	top:0px;
	left:2px;
}
main .channel_grid_row{
	float: left;
	margin-left: 160px;
	height: 100%;
	width: 160px;
	position: relative;
}
main .channel_grid_row:after{
	clear: both;
}
main .channel_grid_row div{
	height: 100%;
	float: left;
}
main .channel_grid_row div:after{
	clear: both;
}
main .channel_grid_row > div:last-child{
	border-right:1px solid #ebebeb ;
}
main #cursorLine{
	width:1px;
	background-color: red;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	margin-left: 160px;
	z-index: 2147483646;
}
.noselect *{
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.row_pressed{
	background-color: #00a4d3;
}

.sample{
	position: absolute;
	width: 200px;
	background-color: #e2ee79;
	border: 1px solid #c1d045;
	height: calc(100% - 2px);
	z-index: 3;
	left:0px;
	cursor: move;
}
.sample.selected{
	opacity: 0.5 !important;
}
.ui-resizable {
     position: absolute !important; 
}
.sample canvas{
	position: absolute;
	left:0px;
}
.sample_signed{
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
#channels_list > div:nth-child(3n+2) .channel_grid_row .sample , #channels_list > div:nth-child(3n+2) .player-fill{
	background-color: #FFB253;
	border: 1px solid #d68227; 
	fill: #FFB253;
}
#channels_list > div:nth-child(3n+3) .channel_grid_row .sample  , #channels_list > div:nth-child(3n+3) .player-fill{
	background-color: #00A4D3;
	border: 1px solid #006e8c; 
	fill: #00A4D3;
}
.sample_placeholder{
	width: 100%;
    height: 100%;
}
.placeholder{
	width: 10%;
	border: 1px solid black;
	height:100%;
	position: relative;
	float: left;
}
.slider-vertical.ui-slider.ui-corner-all.ui-slider-horizontal.ui-widget.ui-widget-content{
	height:1px;
	width:100px;
}
.ui-slider-handle.ui-corner-all.ui-state-default{
	height:5px;
	width:3px;
	top:-3px;
	margin-left: 0px;
}

/* File explorer */

#file_explorer{
	cursor: default;
	position: fixed !important;
	top:50px;
	right: 14px;
	width: 200px;
	height:calc(100vh - 115px);
	z-index: 2147483647;
	background-color: #ffffff;
	font-family: Tahoma !important;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: auto;
	border-left: 1px solid silver;
}
#file_explorer.minimize{
	height: 34px;
	top:calc(100vh - 100px);
	overflow: hidden;	
}
#file_explorer article.file_explorer_title{
	padding: 10px;
	padding-bottom: 0px;
	height:24px;
	text-align: left;
	font-size: 14px;
	font-family:Helvetica;
}
#file_explorer article.file_explorer_title span{
	right: 10px;
	position: absolute;
}
#file_explorer span.minimize{
	
}
#file_explorer span.maximize{
	display: none;	
	top:3px;
	font-size: 20px;
}
#file_explorer article{
	padding-left: 20px;
}
#file_explorer article div{
    font-family:Helvetica;
	font-size: 12px;
	padding: 5px;
	padding-left: 0px;
}
#file_explorer article span{
	padding-right: 5px;
	font-weight: bold;
	font-family: Tahoma;
}
#file_explorer ul li{
    font-family: Helvetica;
	font-weight: 200;
	padding: 4px;
	padding-left: 15px;
	font-size: 13px;
}


/* Scrollers  */

.scrolls { 
    overflow-x: scroll;
    overflow-y: scroll;
    white-space:nowrap;
 } 

::-webkit-scrollbar {
    width: 14px;
}
::-webkit-scrollbar-track {/* scrollers track */
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-corner {
	display: none;
}
::-webkit-scrollbar-thumb {/* scrollers handle */
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(195,187,56,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(195,187,56,0.4); 
}


/* Footer */

footer{
	z-index:1;
	position: fixed;
	bottom: 0px;
	height: 50px;
	width: 100%;
	background-color: #000000;
	color: #ffffff;
}
footer ul{
	position: relative;
	margin: 20px auto;
	width: 350px;
	list-style: none;
}
footer li{
	width: 50px;
	float: left;
	margin-left: 10px;
}
#volume{
	position: absolute;
    top: 5px;
    left:15px;
    height:1px;
    width:100px;
	margin-left: 5px;
	margin-right: 5px; 
}
#volume .ui-slider-range.ui-corner-all.ui-widget-header.ui-slider-range-min , .metronome_placeholder .ui-slider.ui-corner-all.ui-slider-horizontal.ui-widget.ui-widget-content{
	height:1px;
	width: 100px;
}
#volume .ui-slider-handle.ui-corner-all.ui-state-default{
    height: 3px;
    width: 3px;
    top: -2px;
    margin-left: -5px;
}
#volume-master{
	width:100px;
	height:30px;
	position: absolute; 
	right: 100px;
	top: 20px;
}
.volume-icon{
	background-size: contain;
	background-repeat: no-repeat;
	width: 12px;
	height: 12px;	 
	position: absolute; 
}
.volume-on{
	width: 14px;
	height: 14px;	
    background-image: url(../images/studio_volume_on.svg);
}
.volume-off{
    background-image: url(../images/studio_volume_off.svg);
}
.metronome_placeholder{
	position: absolute;
    left: 80px;
    top: 0px;
    padding: 30px;
    padding-top: 20px;
    margin-top: 0px;
    position: absolute;
    clear: both;
}
.metronome_placeholder{
}
#metronome{
    display: none;
    position: absolute;
    top: -30px;
    left: -30px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin: 40px;
}
.metronome_placeholder .ui-slider-range.ui-corner-all.ui-widget-header.ui-slider-range-min , .metronome_placeholder .ui-slider.ui-corner-all.ui-slider-horizontal.ui-widget.ui-widget-content{
	height:6px;
	width: 100px;
	background-color: #000000;
}
.metronome_placeholder .ui-slider-handle.ui-corner-all.ui-state-default{
	height:7px;
	width:6px;
	top:-2px;
	margin-left: -5px;
}
#metronome_start{
	float: left;
}
#metronome_stop{
	display: none;
	float: left;
}
#bpm{
	margin-left: 5px;
	width:100px;
	float: left;
}
#bpmButtons{
	float: left;
	text-align: center;
	clear: both;
	width: 70px;
	margin-top:1px;
}
#bpmButtonsPluse {
	text-align: center;
	width: 20px;
	float: left;
	border: 1px solid #ffffff;
	border-radius: 0px 5px 5px 0px;
	height: 15px;
	line-height: 15px;
}
.bpmButtonsStartStop {
	width: 20px;
	float: left;
	border: 1px solid #ffffff;
	height: 15px;
	line-height: 15px;
}
#bpmButtonsMinuse {
	width: 20px;
	float: left;
	border-radius: 5px 0px 0px 5px;
	border: 1px solid #ffffff;
	height: 15px;
	line-height: 15px;
}
.playerButton{
	background-size: contain;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;	
}
#play{    
    background-image: url(../images/studio_icon_play.svg);
}
#pause{
	display: none;
    background-image:  url(../images/studio_icon_pause.svg);
}
#stop{
    background-image:  url(../images/studio_icon_stop.svg);
}
#forward{
    background-image:  url(../images/studio_icon_fast_forward.svg);
}
#backward{
    background-image:  url(../images/studio_icon_fast_backward.svg);
}
#trackName{
	width: 150px;
	text-align: center;
}
.loading{
	background-image: url('../images/studio_icon_loader.gif') !important;
}
#loader{
	display: none;
	top: 0px;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 2147483646;
	background-color: rgba(255,255,255,0.95);
}
#loader div{
	position: absolute;;
	background-image: url('../images/studio_icon_loader.gif');
	width: 100px;
	height: 100px;
	background-size: 100px;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
}