doctype html
html
  head
    title= title
    script(src="https://cdn.auth0.com/js/lock/10.3/lock.min.js")
    style(type='text/css').
        body{
            background-size: cover;          
            background-image: url(http://wallpapercave.com/wp/Rf8ygKg.jpg)       
        }
        .auth0-lock-badge-bottom {
            display: none;
        }
  body
    block content
