doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdn.auth0.com/js/lock/10.3/lock.min.js")
    style(type='text/css').
       .auth0-lock-badge-bottom {
            display: none;
        }
  body
    block content
