
.slider-widjet{
	width: 100%;
	overflow: hidden;
	height: 100%;
	position: absolute;
}
.slider-widjet:after{
	clear: both;
	content: '';
}
.slider-widjet .page{
	float: left;
}	
.slider-widjet .page:after{
	clear: both;
	content: '';
}
.slider-widjet .page-item{
	float: left;
}
.project-list{
	padding-bottom: 50px;
}
.project-list:after{
	clear: both;
	content: '';
}
.project_item{
	margin-right: 2%;
	margin-bottom: 2%;
	position: relative;
	float: left;
	width: 18%;
	height: 150px;
	background-color: #ffffff;
	box-shadow: 0px 0px 5px #888888;
	border: 1px solid #ffffff;
}
.project_item .settings{
	display: none;
	position: absolute;
	bottom: 5px;
	right: 5px;
	height: 15px;
	width: 15px;
	background-size: 15px;
	background-position: 0px 0px;
	background-image: url(../images/settings-cog.svg);
	opacity: 1;
}
.project_item:hover .settings{
	display: block;
}
.project_item:after{
	clear: both;
	content: "";
}
.project_item_cover{
	height:100%;
	background-size: 200px;
	background-image: url(../images/cover.png);
}
.project_item_info{
	position: absolute;
	bottom: 0px;
	height:50px;
	width:100%;
	background-color: rgba(0,0,0,0.5);
}
.project_item_info div {
	margin: 4px;
}
.project_item_info div:first-child a{
	font-size: 16px;
	color: #c3bb38;
}
.project_item_info div a{
	text-decoration: none;
	font-family: Helvetica;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
}
.arrowSlider{
	position: absolute;
	top: 50%;
	z-index: 3;
}
.next{
	right: 50px;
}
.back{
	left: 50px;
}
#create_project{
	position: fixed;
	bottom: 70px;
	right: 70px;
	font-family: Helvetica;
	color: blue;
	background-image: url('../images/plus.svg');
	width: 70px;
	height: 70px;
	background-size: 70px;
}
#projects h4{
border-bottom: 1px  solid silver;
}
.profile-image img{
	width: 100%; 
}
.profile h1{
    font-size: 36px;
    line-height: 36px;
    height: auto;
}
.profile h4{
	font-size: 26px;
    line-height: 26px;
	height: auto;
}