@font-face {
    font-family: RobotoThin;
    src: url(../fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
  font-family: Berkshire Swash;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Berkshire_Swash/BerkshireSwash-Regular.ttf);
}
*{
	margin: 0px;
	padding: 0px;
	font-family: RobotoThin;
}

html,body{
	height: 100%;
}

header,main,footer{
	display: block;
}
header{
	z-index:1;
	position: fixed;
	height: 50px;
	width: 100%;
	background-color: #444444;
}
ul{
	list-style: none;
	padding: 0px;
}
span{
	padding: 0px;
	margin: 0px;
}

header li{
	float: left;
	height: 50px;
}
header ul:after{
	clear: both;
}
header #logo{
	width: 50px;
	height: 50px;
	background-color: #c3bb38;
	color: #ffffff;
	font-family: 'Berkshire Swash', cursive;
	text-align: center;
	font-size: 30px;
	line-height: 50px;
}
header #connected_user{
	line-height: 50px;
	width: 300px;
	/*overflow: auto;*/
}
header #connected_user:after{
	clear: both;
}
header #connected_user .user_img{
	width: 40px;
	margin-top: 5px;
	margin-left: 25px;
	height: 40px;
	float: left;
	background-size: cover;
	border-radius: 20px;
}
header #connected_user .username{
	line-height: 50px;
	height: 50px;
	float: left;
	margin-left: 15px;
	color: #c0c0c0;
	font-size: 12px;
	font-family: Helvetica;
}
.username span:nth-child(2){
	font-size: 7px;
	padding-left: 4px; 
}
header #connected_user_menu{
	width: 300px;
	height: auto;
	background-color: #ffffff;
	top: 50px;
	position: absolute;
	box-shadow: 0px 0px 5px #888888;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: none;
}
header #connected_user_menu ul li{
	width: 100%;
	font-family:  Helvetica;
	font-size: 14px;
	color: #006ce5;
	padding-left: 10px;
	text-decoration: none;
}

/* Nav */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2147483647;
    top: 0px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.blure{
	-webkit-filter: blur(5px);
	filter: blur(5px);
}
#black_screen{
	display: none;
	top: 0px;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 214748364;
	background-color: rgba(255,255,255,0.1);
}
#black_screen > section{
	display: none;
	border-radius: 5px;
	position: relative;
	width: 500px;
	height:calc(100vh - 115px);
	background-color: #ffffff;
	background-size: 100px;
	top: calc(50% - 250px);
	left: calc(50% - 250px);
	padding: 20px;
	overflow: auto;
	box-shadow: 0px 0px 10px #888888;
}
#black_screen section #close_white_window{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	width:20px;
	height: 20px;
	z-index: 2;
}
 #black_screen > section > #white_window_title{
 	position: relative;
	font-family: Helvetica;
	z-index: 1;
 }
 #black_screen > section  .white_window_component{
 	position: relative;
	border: 1px solid #c0c0c0;
	border-radius: 3px;
	height: 20px;
	width: 100%;
	font-family: Helvetica;
	display: block;
	margin: 5px;
 }
#black_screen > section  section.list{
	top:initial;
	left:initial;
 	position: relative;
	border: 1px dotted #c0c0c0;
	min-height: 100px;
	overflow: auto;
}
#black_screen > section  section.list_full{
	height: initial;
    width: 100%;
    overflow: initial;
}
ul{
	list-style: none;
}
.list li{
	height: 40px;
}
.list li:after{
	content: "";
	display: table;
	clear: both;
}
.list li:not(:last-child){
	border-bottom: 1px dotted #c0c0c0;
}
.list .listitem_name{
	width: 33%;
	float: left;
}
.list .listitem_name:after{
	content: "";
	display: table;
	clear: both;
}

.list .listitem_name_text{
	text-align: center;
	float: left;
	margin-left: 5px;
	font-family: Helvetica;
	transform: translateY(50%);
}
.list .listitem_name_pic{
	height: 30px;
	width: 30px;
	background-size: 30px;
	border-radius: 15px;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}
.list .listitem_description{
	float: left;
	width: 33%;
	text-align: center;
	font-family: Helvetica;
	transform: translateY(50%);
}
.list .listitem_icons{
	float: left;
	width: 33%;
	text-align: center;
	transform: translateY(50%);
}

header #searchbox{
	width: 100px;
	background-color: #000000;
	float: right;
}
main{
	z-index:0;
	top: 50px;
	position: relative;
	height: calc(100% - 100px);
	width:100%;
	background-color: #ffffff;
}

/* Menu  */

#contextmenu{
	position: absolute;
	background-color: #ffffff;
	width: auto;
	height: auto;
	box-shadow: 0px 0px 10px #888888;
}
#contextmenu ul:after{
	clear: both;
	content: ''
}
#contextmenu li{
	padding: 10px;
	padding-bottom: 0px;
	width: 160px;
}
#contextmenu li:last-child{
	padding-bottom: 10px;
}
#contextmenu li a{
	font-family: Helvetica;
	font-size: 14px;
	font-weight: thin;
	color: #8c8525;
	text-decoration: none;
}
#contextmenu li div{
	float: right;
	font-weight: thin;
	font-family: Helvetica;
	font-size: 14px;
	color: rgba(140,133,37,0.7);
}

/* Scrollers  */

.scrolls { 
    overflow-x: scroll;
    overflow-y: scroll;
    white-space:nowrap;
 } 

::-webkit-scrollbar {
    width: 14px;
}
::-webkit-scrollbar-track {/* scrollers track */
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-corner {
	display: none;
}
::-webkit-scrollbar-thumb {/* scrollers handle */
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(195,187,56,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(195,187,56,0.4); 
}


/* Footer */

footer{
	z-index:1;
	position: fixed;
	bottom: 0px;
	height: 50px;
	width: 100%;
	background-color: #000000;
	color: #ffffff;
}
footer ul{
	position: relative;
	margin: 20px auto;
	width: 350px;
	list-style: none;
}
footer li{
	width: 50px;
	float: left;
	margin-left: 10px;
}

.loading{
	background-image: url('../images/studio_icon_loader.gif') !important;
}
#loader{
	display: none;
	top: 0px;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 2147483646;
	background-color: rgba(255,255,255,0.95);
}
#loader div{
	position: absolute;;
	background-image: url('../images/studio_icon_loader.gif');
	width: 100px;
	height: 100px;
	background-size: 100px;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
}

/* new css */
main::-webkit-scrollbar { 
    display: none; 
}
.project_list{
	position: absolute;
	margin: 0px auto;
	height: calc(100vh - 100px);
}
.project_list:after{
	clear: both;
	content: "";
}
.project_list_page{
	width: 100vw;
	height: calc(100vh - 150px);
	padding-top: 50px;
	float: left;
}
.project_list_item{
	position: relative;
	margin: 50px;
	margin-top: 0px;
	width: 200px;
	height: 250px;
	background-color: #ffffff;
	float: left;
	box-shadow: 0px 0px 5px #888888;
	border: 1px solid #ffffff;
}
.project_list_item:after{
	clear: both;
	content: "";
}
.project_list_item_cover{
	height:100%;
	background-image: url(http://media.tumblr.com/tumblr_mf3r1eERKE1qgcb9y.jpg);
}
.project_list_item_info{
	position: absolute;
	bottom: 0px;
	height:50px;
	width:100%;
	background-color: rgba(0,0,0,0.5);
}
.project_list_item_info div {
	margin: 4px;
}
.project_list_item_info div:first-child a{
	font-size: 15px;
	color: red;
}
.project_list_item_info div a{
	text-decoration: none;
	font-size: 15px;
	font-family: Helvetica;
	font-size: 10px;
	font-weight: bold;
	color: #ffffff;
}
.arrowSlider{
	position: absolute;
	top: 50%;
}
.next{
	right: 50px;
}
.back{
	left: 50px;
}
.create{
	position: absolute;
	bottom: 100px;
	left: 100px;
	font-family: Helvetica;
	color: blue;
}