*{
	margin: 0px;
	padding: 0px;
}
html,body{
	height: 100%;
}
header,main,footer{
	display: block;
}
header{
	z-index:1;
	position: fixed;
	height: 50px;
	width: 100%;
	background-color: #444444;
}
header ul{
	list-style: none;
}
header li{
	float: left;
	height: 50px;
}
header ul:after{
	clear: both;
}
header #logo{
	width: 50px;
	height: 50px;
	background-color: #c3bb38;
	color: #ffffff;
	font-family: 'Berkshire Swash', cursive;
	text-align: center;
	font-size: 30px;
	line-height: 50px;
}
header #connected_user{
	line-height: 50px;
	width: 300px;
	overflow-x: hidden;
}
header #connected_user:after{
	clear: both;
}
header #connected_user .user_img{
	width: 40px;
	margin-top: 5px;
	margin-left: 25px;
	height: 40px;
	float: left;
	background-size: cover;
	border-radius: 20px;
}
header #connected_user .username{
	line-height: 50px;
	height: 50px;
	float: left;
	margin-left: 15px;
	color: #c0c0c0;
	font-size: 12px;
	font-family: Helvetica;
}
.username span{
	font-size: 7px;
	padding-left: 4px; 
}
header #toolbox{
	width: calc(100% - 500px);
}
header #toolbox ul{
	color: #ffffff;
	background-color: #606060;
	border: 1px solid #000000;
	border-radius: 3px;
	height: 25px;
	min-width: 80px;
	display: inline-block;
	margin-left: 20px;
	margin-top: 12px;
}
header #toolbox ul li{
	width: 20px;
	height: 20px;
	background-size: 20px;
	margin-top: 2px;
	margin-left: 5px;
}
#toolbox li#toolbox_btn_zoomin{
	background-image: url(../images/studio_icon_zoomin.png);
}
#toolbox li#toolbox_btn_zoomout{
	background-image: url(../images/studio_icon_zoomout.png);
}
#toolbox li#toolbox_btn_cursor{
	background-position: 0px -2px;
	background-image: url(../images/studio_icon_cursor.png);
}
header #searchbox{
	width: 100px;
	background-color: #000000;
	float: right;
}
main{
	z-index:0;
	top: 50px;
	position: relative;
	height: calc(100% - 100px);
	width:100%;
}
main #channels_title{
	height: 24px;
	top: 0px;
    left: 0px;
    position: absolute;
    z-index: 4;
}
main #channels_title:after{
	clear: both;
}
main .channel_list_buttons{
	float: left;
	height: 24px;
	width: 160px;
	background-color: #606060;
}
main .channels_grid_title{
	float: left;
	height: 24px;
    width: calc(100% - 160px);
    background-color: #ffffff;
}
main .channels_grid_title:after{
	clear: both;
}
main .channels_grid_title div{
	height: 100%;
	color: #606060;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 7px;
	line-height: 24px;
    text-align: center;
	background-color: #f7f6f6;
	float: left;
}
main .channels_grid_title div.time-box-border{
	width: 1px;
	background-color: #ebebeb;
}
div.time-box-border{
	width: 1px;
	background-color: #ebebeb;
}
main #channels_list{
	height: 100%;
	margin-top: 24px;
}
main #channels_list:after{
	clear: both;
}
main #channels_list > div{
	height: 100px;
	position: relative;
	border-bottom:1px solid #ebebeb ;
}
main .channel_list_row{
	float: left;
	height: 100%;
	width: 160px;
	background-color: #232323;
}
main .channel_grid_row{
	float: left;
	height: 100%;
	width: 160px;
	position: relative;
}
main .channel_grid_row:after{
	clear: both;
}
main .channel_grid_row div{
	height: 100%;
	float: left;
}
main .channel_grid_row div:after{
	clear: both;
}
main .channel_grid_row div:last-child{
	border-right:1px solid #ebebeb ;
}
main #cursorLine{
	width:1px;
	background-color: red;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	margin-left: 160px;
	z-index: 99999999999;
}
.row_pressed{
	background-color: #00a4d3;
}
.scrolls { 
    overflow-x: scroll;
    overflow-y: scroll;
    white-space:nowrap;
 } 
.sample{
	position: absolute;
	width: 200px;
	background-color: #e2ee79;
	border: 1px solid #c1d045;
	height: calc(100% - 2px);
	z-index: 3;
	left:0px;
}
.sample_signed{
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
#channels_list > div:nth-child(3n+2) .channel_grid_row .sample {
	background-color: #FFB253;
	border: 1px solid #d68227;
}
#channels_list > div:nth-child(3n+3) .channel_grid_row .sample {
	background-color: #00A4D3;
	border: 1px solid #006e8c;
}
.sample_placeholder{
	width: 100%;
    height: 100%;
}
.placeholder{
	width: 10%;
	border: 1px solid black;
	height:100%;
	position: relative;
	float: left;
}
footer{
	z-index:1;
	position: fixed;
	bottom: 0px;
	height: 50px;
	width: 100%;
	background-color: #000000;
	color: #ffffff;
}
footer ul{
	position: relative;
	margin: 20px auto;
	width: 500px;
	list-style: none;
}
footer li{
	float: left;
	margin-left: 10px;
}
